/*
 *  @(#) $Id: sample1.cfg 718 2008-01-01 12:30:48Z hiro $
 */

INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

#include "laser_car.h"
CRE_TSK(SPEED_TASK, { TA_NULL, 0, speed_task, SPEED_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(FOLLOW_TASK, { TA_NULL, 0, follow_task, FOLLOW_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(SENSORS_TASK, { TA_NULL, 0, sensors_task, SENSORS_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL });

CRE_CYC(CYC_HANDLE, { TA_NULL, 0, cyc_handle, 1, 0 });

CRE_SEM(SPEED_SEM, { TA_TPRI, 0, 1 });
CRE_SEM(SENSORS_SEM, { TA_TPRI, 0, 1 });
CRE_SEM(FOLLOW_SEM, { TA_TPRI, 0, 1 });

INCLUDE("light.cfg");
INCLUDE("speaker.cfg");
INCLUDE("switch.cfg");
INCLUDE("motor.cfg");
INCLUDE("steer.cfg");
INCLUDE("decoder.cfg");
INCLUDE("GetFarSignalValue.cfg");